<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Kidsonkode.github.io : " />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/stylesheet.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.nivo.slider.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>


    <title>{{ page.title }}</title>

    <style>
      #slider {
        width: 300px;
        margin: auto;
      }

      #header_wrap img {
          margin: 0 auto;
          max-width: 739px;
          padding: 0px;
          margin: 0px 0 0px 0;
          border: 0;

          box-shadow: 0 0 5px #ebebeb;
          -webkit-box-shadow: 0 0 5px #ebebeb;
          -moz-box-shadow: 0 0 5px #ebebeb;
          -o-box-shadow: 0 0 5px #ebebeb;
          -ms-box-shadow: 0 0 5px #ebebeb;
        }
    </style>
    <script type="text/javascript">
      $(window).load(function() {
          $('#slider').nivoSlider({
            effect: 'fade',
            animSpeed: 1000,
            pauseTime: 6000,
            startSlide: 0,
            controlNav: false,
            directionNav: false
            });
      });
    </script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <div id="left-matter">
        <img src="/images/logo.png">
        <h2>
          <p> Reading and Math are not sufficient anymore.  </p>
          <p>Every child should have the opportunity to learn how computers do their magic.</p>
        </h2>
      </div>
        <header class="inner">
          <div id="slider" class="nivoSlider">
            <img src="/images/kids-computers2.jpg">
            <img src="/images/kids-computers3.jpg">
            <img src="/images/kids-computers4.jpg">
            <img src="/images/kids-computers5.jpg">
            <img src="/images/kids-computers6.jpg">
          </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
